<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeJourneyRa</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="css/theme.min.css" /> *@
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav id="navScroll" class="navbar navbar-expand-lg navbar-light fixed-top" tabindex="0">
            <div class="container">
                <a class="navbar-brand pe-4 fs-4" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-egg-fried" viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        <path
                            d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z" />
                    </svg>
                    <span class="ms-1 fw-bolder">RecJourney</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="Index">Recipes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container small border-top">
            <div class="row py-5 d-flex justify-content-between">
                <div class="col-12 col-md-6 col-lg-4 border-end p-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-journal-bookmark" viewBox="0 0 16 16">
                        <path d="M6 8V1h1v2.5l.5-.5.5.5V1h1v7l-1-.5-1 .5z" />
                        <path
                            d="M2 1h10.5A1.5 1.5 0 0 1 14 2.5v11a.5.5 0 0 1-.757.429L10 12.101l-3.243 1.828A.5.5 0 0 1 6 13.5v-11A.5.5 0 0 1 6.5 2h6.5v1H6V1z" />
                    </svg>
                    <address class="text-secondary mt-3">
                        <strong>Recipe Journal</strong><br />
                        A personal cooking portfolio<br />
                        Built by [Andder Frias]<br />
                    </address>
                </div>

                <div class="col-12 col-md-6 col-lg-4 p-5">
                    <h3 class="h6 mb-3">Quick Links</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link link-secondary ps-0" href="#recipes">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-secondary ps-0" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-secondary ps-0" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-secondary ps-0" href="https://github.com/tuusuario">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container text-center py-3 small">
            Made with ❤️ for my portfolio | Template by
            <a href="https://templatedeck.com" class="link-fancy" target="_blank">templatedeck.com</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/aos.js" asp-append-version="true"></script>

    <script>
        AOS.init({
            duration: 800, // values from 0 to 3000, with step 50ms
        });
    </script>

    <script>
        let scrollpos = window.scrollY;
        const header = document.querySelector(".navbar");
        const header_height = header.offsetHeight;

        const add_class_on_scroll = () =>
            header.classList.add("scrolled", "shadow-sm");
        const remove_class_on_scroll = () =>
            header.classList.remove("scrolled", "shadow-sm");

        window.addEventListener("scroll", function ()
        {
            scrollpos = window.scrollY;

            if (scrollpos >= header_height)
            {
                add_class_on_scroll();
            } else
            {
                remove_class_on_scroll();
            }
        });
    </script>
</body>


</html>
